/* 
Google Font:
font-family: 'Fira Mono', monospace;
font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

content {
    display: flex;
    flex-direction: row;
    background-color: black;
    
}

/* LEFT SIDE OF PAGE CONTENTS STARTS HERE */
.left-side {
    width: 50%;
    height: 100vh;
    float: left;
    text-align: center;
    position: relative;
    
}

#plants {
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    top: 200px;
    position: absolute;
}

.logo img {
    width: 100px;
    padding-right: 20px;
}

.logo #logo_title {
    color: #D8B5DF;
    font-size: 30px;
    letter-spacing: 7px;
}
.logo #logo_subtitle {
    color: #D8B5DF;
    font-size: 20px;
    padding-bottom: 15px;
}

/* RIGHT SIDE OF PAGE CONTENTS STARTS HERE */
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: linear-gradient(135deg, #D8B5DF, #AEA6D2);
    width: 50%;
    height: 100vh;
}

/* FORM CONTENT */
.container {
    padding: 25px 30px;
    width: 550px;
    background: rgba(255,255,255);
    border-radius: 5px;
    font-size: 1.2rem;
    color: lightslategray;
    font-weight:700;
    font-size: 1rem;
}

.container .title {
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1.5;
    color: lightslategray;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    padding-right: 20px;
    padding-bottom: 30px;
}

.input-box input {
    height: 25px;
    width: 230px;
}

#register-btn {
    font-size: 18px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(135deg, #D8B5DF, #AEA6D2);
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 700;
}

#register-btn:hover {
    background: linear-gradient(-135deg, #D8B5DF, #AEA6D2);
}
